name: Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: "./go.mod"

    - name: Build
      run: go build -v ./...

    - name: Lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v8
      with:
        version: v2.4
        args: --timeout 5m ./...

    - name: Test
      run: go test -json -coverpkg=./... -coverprofile=coverage.out ./... > test-report.json
      
    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v5
      env:
        SONAR_TOKEN: ${{ secrets.ENTUR_SONAR_PASSWORD }}

  release-please:
    needs: [build]
    permissions:
      contents: write
      pull-requests: write
      issues: write
    uses: entur/gha-meta/.github/workflows/release.yml@v1
    with:
      release_type: go
